@keyframes Moving {
    0%{
        bottom: 0px;
    }
    10%{
        bottom: 350px;
    }
    100%{
        bottom: 850px;
    }


}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.map {
    background-image: url(../img/maps/HyruleMap.gif);
    width: 1008px;
    height: 961px;
    transform: scale(0.6);
    z-index: 0;
}

.bridge{
    background-image: url(../img/maps/bridgeAsset.gif);
    width: 146px;
    height: 59px;

    position: absolute;
    z-index: 2;
    bottom: 62px;
    left: 429px;
}

.wood{
    background-image: url(../img/maps/woodAsset.gif);
    width: 146px;
    height: 59px;
    background-repeat: no-repeat;

    position: absolute;
    z-index: 2;
    bottom: 215px;
    left: 439px;
}

.box {
    animation: Moving 15s infinite;
    border: 1px solid black;
    width: 20px;
    height: 26px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.Link{
    background-image: url(../img/characters/Zelda/LinkStand.png);
    transform: scale(1);
    width: 20px;
    height: 26px;   
}