*{
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.banner {
    background-image: url(../img/banner/banner2.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.navbar {
    position: relative;
    z-index: 1000;
    background-color: transparent;
    border-bottom: 3px solid #fff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

body {
    margin: 0;
}

.square-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Esta proporção mantém a div quadrada (1:1) */
    overflow: hidden;
}

.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.custom-img {
    max-width: 100%;
    height: auto; 
    max-height: 300px;
}

.custom-content-img img {
    border-radius: 10px;
}

.custom-card h5 {
    color: #ffff;
    margin: 10px 0px;
}

.custom-card p {
    color: #fff;
    margin: 10px 0px;
}

.vant-img {
    width: auto !important;
    height: 150px !important;
}

.card{
    border: 0px solid transparent;
}

@media (max-width: 576px) {
    body{
        background-color: red;
    }

    .custom-img {
        max-width: 100%;
        height: auto; 
        max-height: 250px;
    }
}

@media (min-width: 768px){
    body{
        background-color: green;
    }
}

@media (min-width: 992px){
    body{
        background-color: blue;
    }
}

@media (min-width: 1200px){
    body{
        background-color: purple;
    }
}

@media (min-width: 1400px){
    body{
        background-color: yellow;
    }
}