:root{
    --mainColor: #608F88;
    
    --WhiteText: #ffff;
    --menuItemSize: 22px;
    --menuItemWeight: 600;

    --titleSize:25px;
    --txtSize: 18px;
}

@font-face {
    font-family: Sansation;
    src: url(../fonts/sansation/Sansation_Regular.ttf);
}

*{
    padding: 0 !important;
    margin: 0 !important;
}

.menu-container{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 5px solid white; */

    position: absolute;
    z-index: 1;
}

.menu-items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.menu-items{
    color: var(--WhiteText);
    font-weight: var(--menuItemWeight);
    font-size: var(--menuItemSize);
    text-decoration: none;
}

.customButton{
    background-color: var(--mainColor);
    width:200px;
    font-weight: var(--menuItemWeight);
    font-size: var(--menuItemSize);
    color: var(--WhiteText);
}

.btn:hover{
    background-color: var(--WhiteText);
    outline: var(--mainColor) 2 px solid !important;
    color: var(--mainColor);
    border: none;
}

.banner{
    background-image: url(../img/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: right 45% top 55%;
    transform: scale(1);
    padding: 25px;
    display: flex;
    z-index: 0;
    width: 100%;
    height: 90vh;

    align-items: center;
}



.bannerTitle{
    text-align: start;

    color: var(--WhiteText);
    font-size: 5vw;
    font-family: Sansation;
}

.btn{
    width: 50px !important;
    height: 80px !important;
    border-radius: 25px;
    background-color: var(--mainColor);
}

.btn:hover{
    background-color: var(--WhiteText); 
    color: var(--mainColor) !important;
}

/* second section */

.content-img{
    background-image: url(../img/content-imgs/cam.jpg);
    background-color: red;
    background-size: cover;
    background-position: right 55% top 55%;
    width: 500px;
    height: 500px;
}

.title{
        font-size: var(--titleSize);
}

.content-txt{
    font-size: var(--txtSize);
}